<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/train_reservation_system_codecasa_task3</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">@Admin2003</property>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.autocommit">false</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">update</property>
    <mapping class="com.hibernate.entity.Train" />
    <mapping class="com.hibernate.entity.User" />
    <mapping class="com.hibernate.entity.Seat" />
    <mapping class="com.hibernate.entity.Ticket" />
<!--    <mapping resource="student.hbm.xml"/>-->
<!--    <mapping class="com.hibernate.test.entity.College"/>-->
</session-factory>
</hibernate-configuration>


